<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    <add id="MagentoVlogs_BannerSlider::banners_slider"
         title="BannerSlider"
         translate="title"
         module="MagentoVlogs_BannerSlider"
         sortOrder="20"
         resource="MagentoVlogs_BannerSlider::banners_slider"/>
        <add id="MagentoVlogs_BannerSlider::all_banners"
             title="All Banners" translate="title"
             module="MagentoVlogs_BannerSlider"
             sortOrder="10"
             resource="MagentoVlogs_BannerSlider::all_banners"
             parent="MagentoVlogs_BannerSlider::banners_slider"
             action="magentovlogs_banners_slider/banner/index"/>

        <add id="MagentoVlogs_BannerSlider::all_groups"
             title="All Groups"
             translate="title"
             module="MagentoVlogs_BannerSlider"
             sortOrder="10"
             resource="MagentoVlogs_BannerSlider::all_groups"
             parent="MagentoVlogs_BannerSlider::banners_slider"
             action="magentovlogs_banners_slider/group/index"/>

    </menu>
</config>
